In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
from collections import Counter
print(os.listdir("input"))

['imbd-sf']

In [2]:
data = pd.read_csv('input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
data[data.budget==data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
data.sort_values('runtime', ascending=False).head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,197,6.5,2007
1337,tt0360717,1.508329,207000000,550000000,King Kong,Naomi Watts|Jack Black|Adrien Brody|Thomas Kre...,Peter Jackson,The eighth wonder of the world.,"In 1933 New York, an overly ambitious movie pr...",187,Adventure|Drama|Action,WingNut Films|Universal Pictures|Big Primate P...,12/14/2005,1289,6.4,2005
505,tt0213149,2.478879,140000000,449220945,Pearl Harbor,Ben Affleck|Josh Hartnett|Kate Beckinsale|Cuba...,Michael Bay,"December 7, 1941 - A day that shall live in in...",The lifelong friendship between Rafe McCawley ...,183,History|Romance|War,Jerry Bruckheimer Films|Touchstone Pictures,5/21/2001,1044,6.6,2001

In [8]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
data.sort_values('runtime').head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,174,6.2,2002
1098,tt0283426,1.781615,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,156,5.6,2003
1627,tt0299172,0.837906,110000000,103951461,Home on the Range,Randy Quaid|Steve Buscemi|Judi Dench|Cuba Good...,Will Finn|John Sanford,Bust a Moo.,The Little Piece of Heaven family farm is abou...,76,Western|Animation|Family|Comedy|Music,Walt Disney Pictures|Walt Disney Feature Anima...,4/2/2004,210,5.8,2004
1409,tt0361089,0.558258,35000000,19478106,Valiant,Ewan McGregor|Ricky Gervais|Tim Curry|Jim Broa...,Gary Chapman,"Some pigeons eat crumbs, others make history.",The animated comedy tells the story of a lowly...,76,Animation|Family|Adventure,Vanguard Films|Scanbox,3/25/2005,138,5.3,2005

In [10]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
round(data.runtime.mean())

110

In [12]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
round(data.runtime.median())

106

In [14]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
data[(data.revenue-data.budget)==(data.revenue-data.budget).max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009

In [16]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
data[(data.revenue-data.budget)==(data.revenue-data.budget).min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [18]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
len(data[data.revenue>data.budget])

1478

In [20]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
data2008=data[data.release_year==2008]
data2008[(data2008.revenue-data2008.budget)==(data2008.revenue-data2008.budget).max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [22]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
data1214=data[(data.release_year>=2012)&(data.release_year<=2014)]
data1214[(data1214.revenue-data1214.budget)==(data1214.revenue-data1214.budget).min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [24]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
genres={}
for genre in 'Action,Adventure,Drama,Comedy,Thriller'.split(','):
    genres[genre]=len(data[data.genres.str.contains(genre)])
genres

{'Action': 583, 'Adventure': 416, 'Drama': 782, 'Comedy': 683, 'Thriller': 597}

In [26]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [27]:
data_profit=data[data.revenue>data.budget]
genres={}
for genre in 'Action,Adventure,Drama,Comedy,Thriller'.split(','):
    genres[genre]=len(data_profit[data_profit.genres.str.contains(genre)])
genres

{'Action': 444, 'Adventure': 337, 'Drama': 560, 'Comedy': 551, 'Thriller': 446}

In [28]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [29]:
directors={}
for director in 'Steven Spielberg,Ridley Scott,Steven Soderbergh,Christopher Nolan,Clint Eastwood'.split(','):
    directors[director]=len(data[data.director.str.contains(director)])
directors

{'Steven Spielberg': 10,
 'Ridley Scott': 12,
 'Steven Soderbergh': 13,
 'Christopher Nolan': 8,
 'Clint Eastwood': 12}

In [30]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [31]:
data_profit=data[data.revenue>data.budget]
directors={}
for director in 'Steven Soderbergh,Clint Eastwood,Steven Spielberg,Ridley Scott,Christopher Nolan'.split(','):
    directors[director]=len(data_profit[data_profit.director.str.contains(director)])
directors

{'Steven Soderbergh': 10,
 'Clint Eastwood': 10,
 'Steven Spielberg': 10,
 'Ridley Scott': 12,
 'Christopher Nolan': 8}

In [32]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [33]:
data['profit']=data['revenue']-data['budget']
directors={}
for director in 'Steven Spielberg,Christopher Nolan,David Yates,James Cameron,Peter Jackson'.split(','):
    directors[director]=data[data.director.str.contains(director)].profit.sum()
directors

{'Steven Spielberg': 2449700791,
 'Christopher Nolan': 3162548502,
 'David Yates': 3379295625,
 'James Cameron': 2548546718,
 'Peter Jackson': 5202593685}

In [34]:
#Второе решение
df_dir = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index()
df_dir.columns =  ['row1', 'row2', 'director']
df_dir['margin_dir'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
df_dir.groupby(['director'])['margin_dir'].sum().sort_values(ascending=False)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Sngmoo Lee           -413912431
Name: margin_dir, Length: 998, dtype: int64

In [35]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [36]:
actors={}
for actor in 'Emma Watson,Johnny Depp,Michelle Rodriguez,Orlando Bloom,Rupert Grint'.split(','):
    actors[actor]=data[data.cast.str.contains(actor)].profit.sum()
actors

{'Emma Watson': 6666245597,
 'Johnny Depp': 4776417000,
 'Michelle Rodriguez': 4608031235,
 'Orlando Bloom': 5148578162,
 'Rupert Grint': 6408638290}

In [37]:
#Второе решение
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns =  ['row1', 'row2', 'actor']
df_cast['margin_actor'] = df_cast.row1.apply(lambda x: data.iloc[x]['profit'])
df_cast.groupby(['actor'])['margin_actor'].sum().sort_values(ascending=False)

actor
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: margin_actor, Length: 3408, dtype: int64

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
data_2012=data[data.release_year==2012]
actors={}
for actor in 'Nicolas Cage,Danny Huston,Kirsten Dunst,Jim Sturgess,Sami Gayle'.split(','):
    actors[actor]=data_2012[data_2012.cast.str.contains(actor)].profit.sum()
actors

{'Nicolas Cage': -32893443,
 'Danny Huston': -32893443,
 'Kirsten Dunst': -68109207,
 'Jim Sturgess': -23410657,
 'Sami Gayle': -32893443}

In [40]:
#Второе решение
df_cast = pd.DataFrame(data_2012.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns =  ['row1', 'row2', 'actor']
df_cast['margin_actor'] = df_cast.row1.apply(lambda x: data_2012.iloc[x]['profit'])
df_cast.groupby(['actor'])['margin_actor'].sum().sort_values()

actor
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: margin_actor, Length: 466, dtype: int64

In [41]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [42]:
high_budget=data[data.budget>data.budget.mean()]
actors={}
for actor in 'Tom Cruise,Mark Wahlberg,Matt Damon,Angelina Jolie,Adam Sandler'.split(','):
    actors[actor]=len(high_budget[high_budget.cast.str.contains(actor)])
actors

{'Tom Cruise': 15,
 'Mark Wahlberg': 14,
 'Matt Damon': 18,
 'Angelina Jolie': 16,
 'Adam Sandler': 17}

In [43]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [44]:
data_NC=data[data.cast.str.contains("Nicolas Cage")]
genres={}
for genre in 'Drama,Action,Thriller,Adventure,Crime'.split(','):
    genres[genre]=len(data_NC[data_NC.genres.str.contains(genre)])
genres

{'Drama': 12, 'Action': 17, 'Thriller': 15, 'Adventure': 7, 'Crime': 10}

In [45]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [46]:
production_companies={}
for company in 'Universal,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    production_companies[company]=len(data[data.production_companies.str.contains(company)])
production_companies

{'Universal': 185,
 'Paramount Pictures': 122,
 'Columbia Pictures': 163,
 'Warner Bros': 183,
 'Twentieth Century Fox Film Corporation': 109}

In [47]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
data_2015=data[data.release_year==2015]
production_companies={}
for company in 'Universal Pictures,Paramount Pictures,Columbia Pictures,Warner Bros,Twentieth Century Fox Film Corporation'.split(','):
    production_companies[company]=len(data_2015[data_2015.production_companies.str.contains(company)])
production_companies

{'Universal Pictures': 11,
 'Paramount Pictures': 7,
 'Columbia Pictures': 7,
 'Warner Bros': 12,
 'Twentieth Century Fox Film Corporation': 8}

In [49]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [50]:
data_comedy=data[data.genres.str.contains('Comedy')]
production_companies={}
for company in 'Warner Bros,Universal,Columbia Pictures,Paramount Pictures,Walt Disney'.split(','):
    production_companies[company]=data_comedy[data_comedy.production_companies.str.contains(company)].profit.sum()
production_companies

{'Warner Bros': 4370928916,
 'Universal': 9130349034,
 'Columbia Pictures': 7161805266,
 'Paramount Pictures': 3055625722,
 'Walt Disney': 7975933215}

In [51]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [52]:
data_2012=data[data.release_year==2012]
production_companies={}
for company in 'Universal,Warner Bros,Columbia Pictures,Paramount Pictures,Lucasfilm'.split(','):
    production_companies[company]=data_2012[data_2012.production_companies.str.contains(company)].profit.sum()
production_companies

{'Universal': 1981011579,
 'Warner Bros': 1258020056,
 'Columbia Pictures': 2501406608,
 'Paramount Pictures': 410726715,
 'Lucasfilm': -7634623}

In [53]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [54]:
data_PP=data[data.production_companies.str.contains('Paramount Pictures')]
data_PP[data_PP.profit==data_PP.profit.min()]#.original_title

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [55]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [56]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [57]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [58]:
data_WB=data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [59]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [60]:
release_date=data.release_date.str.split('/',expand=True)
release_date.columns=['month','day','year']
release_date.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [61]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [62]:
release_date.month=release_date.month.astype(int)
len(release_date[(release_date.month==6)|(release_date.month==7)|(release_date.month==8)])

450

In [63]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [64]:
data=data.merge(release_date, how='outer', left_index=True, right_index=True)

data_winter=data[(data.month==12)|(data.month==1)|(data.month==2)]

directors={}
for director in 'Steven Soderbergh,Christopher Nolan,Clint Eastwood,Ridley Scott,Peter Jackson'.split(','):
    directors[director]=len(data_winter[data_winter.director.str.contains(director)])
directors

{'Steven Soderbergh': 6,
 'Christopher Nolan': 0,
 'Clint Eastwood': 6,
 'Ridley Scott': 3,
 'Peter Jackson': 7}

In [65]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [66]:
data.pivot_table(values=['profit'],
index=['month'],
columns=['release_year'],
aggfunc='sum').idxmax(axis=0).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [67]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [68]:
data['title_len']=data.original_title.apply(lambda x: len(x))
df_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_companies.columns =  ['row1', 'row2', 'company']
df_companies['margin_company'] = df_companies.row1.apply(lambda x: data.iloc[x]['title_len'])
df_companies.iloc[:10]
df_companies.groupby('company')['margin_company'].mean().sort_values(ascending=False)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: margin_company, Length: 1772, dtype: float64

In [69]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
pattern=re.compile('\w+')
data['title_words']=data.original_title.apply(lambda x: len(pattern.findall(x)))
df_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
df_companies.columns =  ['row1', 'row2', 'company']
df_companies['margin_company'] = df_companies.row1.apply(lambda x: data.iloc[x]['title_words'])
df_companies.groupby('company')['margin_company'].mean().sort_values(ascending=False)

company
Four By Two Productions      12.0
Jim Henson Company, The      10.0
The Saul Zaentz Company       9.0
Dos Corazones                 8.0
Museum Canada Productions     8.0
                             ...
Saints LA                     1.0
M Productions                 1.0
Fetisov Teterin Films         1.0
Bristol Bay Productions       1.0
Intermedia                    1.0
Name: margin_company, Length: 1772, dtype: float64

In [71]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [72]:
lower_words = pd.DataFrame(data.original_title.str.lower())
lower_words = pd.DataFrame(lower_words.original_title.str.split(' ').tolist()).stack().reset_index()
lower_words.columns = ['row1', 'row2', 'words']
lower_words['words'].nunique()

2462

In [73]:
#не сошелся ответ
from collections import Counter
pattern=re.compile('\w+')
list=data.original_title.apply(lambda x: pattern.findall(x)).to_list()
word_count=[]
for item in list:
    for word in item:
        if word not in word_count:
            word_count.append(word.lower())
len(word_count)

4513

In [74]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [75]:
percent=round(len(data)*0.01)
data[['original_title','vote_average']].sort_values('vote_average',ascending=False).iloc[:percent+1]

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8
864               The Lord of the Rings: The Two Towers           7.8

In [76]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [77]:
print(len(data[(data.cast.str.contains('Johnny Depp'))&(data.cast.str.contains('Helena Bonham Carter'))].cast))
print(len(data[(data.cast.str.contains('Hugh Jackman'))&(data.cast.str.contains('Ian McKellen'))].cast))
print(len(data[(data.cast.str.contains('Vin Diesel'))&(data.cast.str.contains('Paul Walker'))].cast))
print(len(data[(data.cast.str.contains('Adam Sandler'))&(data.cast.str.contains('Kevin James'))].cast))
print(len(data[(data.cast.str.contains('Daniel Radcliffe'))&(data.cast.str.contains('Rupert Grint'))].cast))

6
5
5
5
8

In [78]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [79]:
data_profit=data[data.profit>0]
data_loss=data[data.profit<=0]
directors={}
for director in 'Quentin Tarantino,Steven Soderbergh,Robert Rodriguez,Christopher Nolan,Clint Eastwood'.split(','):
    profit_films=len(data_profit[data_profit.director.str.contains(director)])
    loss_films=len(data_loss[data_loss.director.str.contains(director)])
    directors[director]=profit_films/(profit_films+loss_films)
directors

{'Quentin Tarantino': 0.8571428571428571,
 'Steven Soderbergh': 0.7692307692307693,
 'Robert Rodriguez': 0.7272727272727273,
 'Christopher Nolan': 1.0,
 'Clint Eastwood': 0.8333333333333334}

In [80]:
answer_ls.append(4)

# Submission

In [81]:
len(answer_ls)

36

In [82]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4