#### Этот Ноутбук являетсся Примером/Шаблоном к этому заданию (Baseline) и не служит готовым решением!     
Вы можете использовать его как основу для построения своего решения.

> что такое baseline решение, зачем оно нужно и почему предоставлять baseline к соревнованию стало важным стандартом на kaggle и других площадках.   
**baseline** создается больше как шаблон, где можно посмотреть как происходит обращение с входящими данными и что нужно получить на выходе. При этом МЛ начинка может быть достаточно простой, просто для примера. Это помогает быстрее приступить к самому МЛ, а не тратить ценное время на чисто инженерные задачи. 
Также baseline являеться хорошей опорной точкой по метрике. Если твое решение хуже baseline - ты явно делаешь что-то не то и стоит попробовать другой путь) 

В контексте нашего соревнования baseline идет с небольшими примерами того, что можно делать с данными, и с инструкцией, что делать дальше, чтобы улучшить результат.

# Import

In [94]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# Загружаем специальный удобный инструмент для разделения датасета:
from sklearn.model_selection import train_test_split
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [95]:
# всегда фиксируйте RANDOM_SEED, чтобы ваши эксперименты были воспроизводимы!
RANDOM_SEED = 42

In [96]:
# зафиксируем версию пакетов, чтобы эксперименты были воспроизводимы:
#!pip freeze > requirements.txt

# DATA

In [97]:
DATA_DIR = './'
data = pd.read_csv(DATA_DIR+'stud_math.csv.xls')

In [98]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 30 columns):
school                 395 non-null object
sex                    395 non-null object
age                    395 non-null int64
address                378 non-null object
famsize                368 non-null object
Pstatus                350 non-null object
Medu                   392 non-null float64
Fedu                   371 non-null float64
Mjob                   376 non-null object
Fjob                   359 non-null object
reason                 378 non-null object
guardian               364 non-null object
traveltime             367 non-null float64
studytime              388 non-null float64
failures               373 non-null float64
schoolsup              386 non-null object
famsup                 356 non-null object
paid                   355 non-null object
activities             381 non-null object
nursery                379 non-null object
studytime, granular    388 non-null float64
higher                 375 non-null object
internet               361 non-null object
romantic               364 non-null object
famrel                 368 non-null float64
freetime               384 non-null float64
goout                  387 non-null float64
health                 380 non-null float64
absences               383 non-null float64
score                  389 non-null float64
dtypes: float64(12), int64(1), object(17)
memory usage: 92.7+ KB

In [99]:
data.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,"studytime, granular",higher,internet,romantic,famrel,freetime,goout,health,absences,score
0,GP,F,18,U,NaN,A,4.0,4.0,at_home,teacher,...,-6.0,yes,NaN,no,4.0,3.0,4.0,3.0,6.0,30.0
1,GP,F,17,U,GT3,NaN,1.0,1.0,at_home,other,...,-6.0,yes,yes,no,5.0,3.0,3.0,3.0,4.0,30.0
2,GP,F,15,U,LE3,T,1.0,1.0,at_home,other,...,-6.0,yes,yes,NaN,4.0,3.0,2.0,3.0,10.0,50.0
3,GP,F,15,U,GT3,T,4.0,2.0,health,NaN,...,-9.0,yes,yes,yes,3.0,2.0,2.0,5.0,2.0,75.0
4,GP,F,16,U,GT3,T,3.0,3.0,other,other,...,-6.0,yes,no,no,4.0,3.0,2.0,5.0,4.0,50.0
5,GP,M,16,U,LE3,T,4.0,3.0,services,other,...,-6.0,yes,yes,no,5.0,4.0,2.0,5.0,10.0,75.0
6,GP,M,16,NaN,LE3,T,2.0,2.0,other,other,...,-6.0,yes,yes,no,4.0,4.0,4.0,3.0,0.0,55.0
7,GP,F,17,U,GT3,A,4.0,4.0,other,teacher,...,-6.0,yes,no,no,4.0,1.0,4.0,1.0,6.0,30.0
8,GP,M,15,U,LE3,A,3.0,2.0,services,other,...,-6.0,yes,yes,no,NaN,2.0,2.0,1.0,0.0,95.0
9,GP,M,15,U,NaN,NaN,3.0,4.0,other,other,...,-6.0,yes,yes,no,5.0,5.0,1.0,5.0,0.0,75.0

### Первоначальное описание колонок:
1 **school** — аббревиатура школы, в которой учится ученик;

2 **sex** — пол ученика (**'F'** - женский, **'M'** - мужской);

3 **age** — возраст ученика (от **15** до **22**);

4 **address** — тип адреса ученика (**'U'** - городской, **'R'** - за городом);

5 **famsize** — размер семьи(**'LE3'** <= 3, **'GT3'** >3);

6 **p_status** — статус совместного жилья родителей (**'T'** - живут вместе **'A'** - раздельно);

7 **m_edu** — образование матери (**0** - нет, **1** - 4 класса, **2** - 5-9 классы,
    **3** - среднее специальное или 11 классов, **4** - высшее);

8 **f_edu** — образование отца (**0** - нет, **1** - 4 класса, **2** - 5-9 классы, 
    **3** - среднее специальное или 11 классов, **4** - высшее);

9 **m_job** — работа матери (**'teacher'** - учитель, **'health'** - сфера здравоохранения, 
    **services'** - гос служба, **'at_home'** - не работает, **'other'** - другое);

10 **f_job** — работа отца (**'teacher'** - учитель, **'health'** - сфера здравоохранения, 
    **'services'** - гос служба, **'at_home'** - не работает, **'other'** - другое);

11 **reason** — причина выбора школы (**'home'** - близость к дому, **'reputation'** - репутация школы, 
    **'course'** - образовательная программа, **'other'** - другое);

12 **guardian** — опекун (**'mother'** - мать, **'father'** - отец, **'other'** - другое);

13 **traveltime** — время в пути до школы (**1** - <15 мин., **2** - 15-30 мин., 
    **3** - 30-60 мин., **4** - >60 мин.);

14 **studytime** — время на учёбу помимо школы в неделю (**1** - <2 часов, **2** - 2-5 часов, 
    **3** - 5-10 часов, **4** - >10 часов);

15 **failures** — количество внеучебных неудач (**n**, если 1<=n<3, иначе **4**);

16 **schoolsup** — дополнительная образовательная поддержка (**yes** или **no**);

17 **famsup** — семейная образовательная поддержка (**yes** или **no**);

18 **paid** — дополнительные платные занятия по математике (**yes** или **no**);

19 **activities** — дополнительные внеучебные занятия (**yes** или **no**);

20 **nursery** — посещал детский сад (**yes** или **no**);

**studytime_granular** - неизвестная колонка, необходимо понять, с чем она коррелирует

21 **higher** — хочет получить высшее образование (**yes** или **no**);

22 **internet** — наличие интернета дома (**yes** или **no**);

23 **romantic** — в романтических отношениях (**yes** или **no**);

24 **famrel** — семейные отношения (от **1** - очень плохо до **5** - очень хорошо);

25 **freetime** — свободное время после школы (от **1** - очень мало до **5** - очень мого);

26 **goout** — проведение времени с друзьями (от **1** - очень мало до **5** - очень много);

27 **health_level** — текущее состояние здоровья (от **1** - очень плохо до **5** - очень хорошо);

28 **absences** — количество пропущенных занятий;

29 **score** — баллы по госэкзамену по математике (целевой параметр).

Как видим, большинство признаков у нас требует очистки и предварительной обработки.

# 1. EDA  
[Exploratory Data Analysis](https://ru.wikipedia.org/wiki/Разведочный_анализ_данных) - Анализ данных На этом этапе мы строим графики, ищем закономерности, аномалии, выбросы или связи между признаками. В общем цель этого этапа понять, что эти данные могут нам дать и как признаки могут быть взаимосвязаны между собой. 
![](https://miro.medium.com/max/2598/1*RXdMb7Uk6mGqWqPguHULaQ.png)

## Анализ признаков
* Строим графики
* Проводим корреляционный анализ
* Находим дублирующиеся признаки
* Находим выбросы
* Cмотрим распределение целевой переменной
* Распределение целевой переменной относительно признаков
* Находим Возможные закономерности и взаимосвязи

In [100]:
# ...

## Выводы

In [101]:
# ...

# Bonus!
Если Хотите построить модель на основе отобранных признаков то можете продолжить далее. Этот материал забегает немного вперед, но зато позволит лучше понять зачем этот EDA вообще нужно было делать)

# 2. Подготовка данных для модели
Для того чтоб наша модель могла работать с нашими признаки они должны быть в цифровом формате понятной машине (в форматах int или float и без None-значений).

### 2.1. Обработка категориальных признаков

Какие признаки можно считать категориальными?

Для кодирования категориальных признаков есть множество подходов:
* Label Encoding
* One-Hot Encoding
* Target Encoding
* Hashing

Выбор кодирования зависит от признака и выбраной модели.
Не будем сейчас сильно погружаться в эту тематику, давайте посмотрим лучше пример с One-Hot Encoding:
![](https://i.imgur.com/mtimFxh.png)

In [102]:
# для One-Hot Encoding в pandas есть готовая функция - get_dummies. Особенно радует параметр dummy_na
# Тут я возьму в обработку все object признаки.
object_columns = [s for s in data.columns if data[s].dtypes == 'object']

data = pd.get_dummies(data, columns=object_columns, dummy_na=True)

# определите какие признаки у вас пойдут в OH енкодинг.

In [103]:
data.head(5)

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,...,nursery_nan,higher_no,higher_yes,higher_nan,internet_no,internet_yes,internet_nan,romantic_no,romantic_yes,romantic_nan
0,18,4.0,4.0,2.0,2.0,0.0,-6.0,4.0,3.0,4.0,...,0,0,1,0,0,0,1,1,0,0
1,17,1.0,1.0,1.0,2.0,0.0,-6.0,5.0,3.0,3.0,...,0,0,1,0,0,1,0,1,0,0
2,15,1.0,1.0,1.0,2.0,3.0,-6.0,4.0,3.0,2.0,...,0,0,1,0,0,1,0,0,0,1
3,15,4.0,2.0,1.0,3.0,0.0,-9.0,3.0,2.0,2.0,...,0,0,1,0,0,1,0,0,1,0
4,16,3.0,3.0,1.0,2.0,0.0,-6.0,4.0,3.0,2.0,...,0,0,1,0,1,0,0,1,0,0

In [104]:
data.sample(5)

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,...,nursery_nan,higher_no,higher_yes,higher_nan,internet_no,internet_yes,internet_nan,romantic_no,romantic_yes,romantic_nan
181,16,3.0,3.0,1.0,2.0,0.0,-6.0,4.0,2.0,3.0,...,0,0,0,1,0,1,0,0,0,1
314,19,1.0,1.0,1.0,NaN,2.0,NaN,4.0,NaN,2.0,...,0,0,1,0,0,1,0,0,1,0
16,16,4.0,4.0,1.0,3.0,0.0,-9.0,3.0,2.0,3.0,...,0,0,1,0,0,1,0,1,0,0
343,17,2.0,2.0,1.0,2.0,1.0,-6.0,3.0,3.0,1.0,...,0,0,1,0,0,1,0,0,1,0
268,18,4.0,2.0,NaN,2.0,0.0,-6.0,5.0,4.0,5.0,...,0,0,1,0,0,1,0,0,1,0

### 2.2. Обработка NAN 
У наличия пропусков могут быть разные причины, но пропуски нужно либо заполнить, либо исключить из набора полностью. Но с пропусками нужно быть внимательным, **даже отсутствие информации может быть важным признаком!**   
По этому перед обработкой NAN лучше вынести информацию о наличии пропуска как отдельный признак

In [105]:
# в этом примере я заполняю пропуски median-ой, попробуйте другие подходы
nan_columns = list(data.columns[data.isnull().sum() > 0])
if nan_columns:
    for nan_column in nan_columns:
        data[nan_column+'_isNAN'] = pd.isna(data[nan_column]).astype('uint8')
    data.fillna(data.median(), inplace=True)

### Итого

In [106]:
data.head(5)

,age,Medu,Fedu,traveltime,studytime,failures,"studytime, granular",famrel,freetime,goout,...,traveltime_isNAN,studytime_isNAN,failures_isNAN,"studytime, granular_isNAN",famrel_isNAN,freetime_isNAN,goout_isNAN,health_isNAN,absences_isNAN,score_isNAN
0,18,4.0,4.0,2.0,2.0,0.0,-6.0,4.0,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0
1,17,1.0,1.0,1.0,2.0,0.0,-6.0,5.0,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
2,15,1.0,1.0,1.0,2.0,3.0,-6.0,4.0,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,15,4.0,2.0,1.0,3.0,0.0,-9.0,3.0,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,16,3.0,3.0,1.0,2.0,0.0,-6.0,4.0,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 85 columns):
age                          395 non-null int64
Medu                         395 non-null float64
Fedu                         395 non-null float64
traveltime                   395 non-null float64
studytime                    395 non-null float64
failures                     395 non-null float64
studytime, granular          395 non-null float64
famrel                       395 non-null float64
freetime                     395 non-null float64
goout                        395 non-null float64
health                       395 non-null float64
absences                     395 non-null float64
score                        395 non-null float64
school_GP                    395 non-null uint8
school_MS                    395 non-null uint8
school_nan                   395 non-null uint8
sex_F                        395 non-null uint8
sex_M                        395 non-null uint8
sex_nan                      395 non-null uint8
address_R                    395 non-null uint8
address_U                    395 non-null uint8
address_nan                  395 non-null uint8
famsize_GT3                  395 non-null uint8
famsize_LE3                  395 non-null uint8
famsize_nan                  395 non-null uint8
Pstatus_A                    395 non-null uint8
Pstatus_T                    395 non-null uint8
Pstatus_nan                  395 non-null uint8
Mjob_at_home                 395 non-null uint8
Mjob_health                  395 non-null uint8
Mjob_other                   395 non-null uint8
Mjob_services                395 non-null uint8
Mjob_teacher                 395 non-null uint8
Mjob_nan                     395 non-null uint8
Fjob_at_home                 395 non-null uint8
Fjob_health                  395 non-null uint8
Fjob_other                   395 non-null uint8
Fjob_services                395 non-null uint8
Fjob_teacher                 395 non-null uint8
Fjob_nan                     395 non-null uint8
reason_course                395 non-null uint8
reason_home                  395 non-null uint8
reason_other                 395 non-null uint8
reason_reputation            395 non-null uint8
reason_nan                   395 non-null uint8
guardian_father              395 non-null uint8
guardian_mother              395 non-null uint8
guardian_other               395 non-null uint8
guardian_nan                 395 non-null uint8
schoolsup_no                 395 non-null uint8
schoolsup_yes                395 non-null uint8
schoolsup_nan                395 non-null uint8
famsup_no                    395 non-null uint8
famsup_yes                   395 non-null uint8
famsup_nan                   395 non-null uint8
paid_no                      395 non-null uint8
paid_yes                     395 non-null uint8
paid_nan                     395 non-null uint8
activities_no                395 non-null uint8
activities_yes               395 non-null uint8
activities_nan               395 non-null uint8
nursery_no                   395 non-null uint8
nursery_yes                  395 non-null uint8
nursery_nan                  395 non-null uint8
higher_no                    395 non-null uint8
higher_yes                   395 non-null uint8
higher_nan                   395 non-null uint8
internet_no                  395 non-null uint8
internet_yes                 395 non-null uint8
internet_nan                 395 non-null uint8
romantic_no                  395 non-null uint8
romantic_yes                 395 non-null uint8
romantic_nan                 395 non-null uint8
Medu_isNAN                   395 non-null uint8
Fedu_isNAN                   395 non-null uint8
traveltime_isNAN             395 non-null uint8
studytime_isNAN              395 non-null uint8
failures_isNAN               395 non-null uint8
studytime, granular_isNAN    395 non-null uint8
famrel_isNAN                 395 non-null uint8
freetime_isNAN               395 non-null uint8
goout_isNAN                  395 non-null uint8
health_isNAN                 395 non-null uint8
absences_isNAN               395 non-null uint8
score_isNAN                  395 non-null uint8
dtypes: float64(12), int64(1), uint8(72)
memory usage: 68.0 KB

Пропуск нет, все признаки в цифровом виде - данные готовы к работе с моделью

### 2.3 Split Data
чтоб сделать оценку на сколько хороша наша модель, сделаем разбивку данных на обучение и тест

In [108]:
# Воспользуемся специальной функцие train_test_split для разбивки тестовых данных
# выделим 20% данных на валидацию (параметр test_size)
X_train, X_test, y_train, y_test = train_test_split(data.drop(['score'],axis=1), 
                                                     data.score, 
                                                     test_size=0.2, 
                                                     random_state=RANDOM_SEED)

In [109]:
# проверяем
data.shape, X_train.shape, X_test.shape

((395, 85), (316, 84), (79, 84))

# 3. Model

In [110]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [111]:
# Создаём модель (НАСТРОЙКИ НЕ ТРОГАЕМ)
model = RandomForestRegressor(verbose=1, n_jobs=-1, random_state=RANDOM_SEED)

In [112]:
# Обучаем модель на тестовом наборе данных
model.fit(X_train, y_train)

# Используем обученную модель для предсказания
# Предсказанные значения записываем в переменную y_pred
y_pred = model.predict(X_test)

/Users/lek/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    0.0s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  10 out of  10 | elapsed:    0.0s finished

In [113]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
# Чем меньше - тем лучше
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 17.79746835443038

# А зачем тут EDA?
Большинство последних соревнований по ML было выиграно благодаря глубокому понимаюнию самих данных и Подробному EDA! Чем лучше вы понимание сами признаки и что за ними стоит, тем проще вам будет ими манипулировать и генерировать новые сильные признаки.

Теперь на основе EDA попробуем это сделать сами:
* Удалите лишние по вашему мнению признаки
* Попробуйте по другому обработать пропуски и выбросы
* Попробуйте извлечь дополнительные признаки 
* Посмотрите какие могут быть глубокие взаимосвязи между признаками и таргетом, и как можно помочь модели их увидеть. 

Посмотрите как это влияет на результат модели...    
Поделитесь своими результатами и идеями с коллегами в Slacke